[Desktop Entry]
Version=1.0
Type=Application
Name=Eagle
TryExec=/usr/bin/eagle
Exec=eagle -style plastique
Icon=/opt/eagle/bin/eagleicon50.png
Categories=Development;
